<html>
    <head>
        <!-- 引入 layui.css -->
        <link href="//unpkg.com/layui@2.9.7/dist/css/layui.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <!-- 引入 layui.js -->
        <script src="//unpkg.com/layui@2.9.7/dist/layui.js"></script>
        <style>
            .parent-element {
                height: 100%;
                width: 100%;
            }

            .parent-element iframe {
                height: 100%;
                width: 100%;
            }

        </style>

        <script th:inline="javascript">
            /*<![CDATA[*/
            var templateId = /*[[${templateId}]]*/ 'Default Message';
            var reportId = /*[[${reportId}]]*/ 'Default Message';
            /*]]>*/

            function guid() {
                return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                    var r = Math.random() * 16 | 0,
                        v = c == 'x' ? r : (r & 0x3 | 0x8);
                    return v.toString(16);
                });
            }

            window.onload=function(){
                let param={
                    "reportId":reportId,
                    "templateId":templateId
                }
                param=JSON.stringify(param);
                $.ajax({
                    url:'uploadFile2Azt',
                    type:'POST',
                    dataType:'json',
                    data:param,
                    contentType:'application/json;charset=UTF-8',
                    success:function(res){
                        if(res.code==200){
                            var fileId=res.data.fileId;
                            let businessId=res.data.businessId;
                            let param=JSON.stringify({
                                "fileId": fileId,
                                "businessId": businessId,
                                "reportId":reportId,
                                "templateId":templateId
                            });
                            $.ajax({
                                url:'signApply',
                                data:param,
                                type:'POST',
                                contentType:'application/json;charset=UTF-8',
                                dataType:'json',
                                success:function(res){
                                    if(res.code==200){
                                        let url=res.data.url;
                                        let businessId=res.data.businessId;
                                        $('#iframe').attr('src',url);
                                        let funId= window.setInterval(function (){
                                            $.ajax({
                                                url:'getSignResult/'+businessId,
                                                type:'GET',
                                                dataType:'json',
                                                success:function(res){
                                                   let signComplete=res.data.signCompleteState;
                                                   if(signComplete==2){
                                                       console.log("================================>");
                                                       console.log("签章完毕");
                                                       window.clearInterval(funId)
                                                       //回写pdf
                                                       let paramJSON=JSON.stringify({
                                                           "reportId":reportId,
                                                           "templateId":templateId,
                                                           "fileId":fileId
                                                       })

                                                       $.ajax({
                                                           url:'downLoadAztFile',
                                                           data:paramJSON,
                                                           type:'POST',
                                                           contentType:'application/json;charset=UTF-8',
                                                           dataType:'json',
                                                           success:function (res){
                                                               window.parent.postMessage(JSON.stringify({
                                                                   action:'setAttachment',
                                                                   templateId:templateId,//1202
                                                                   reportId:reportId,//3931
                                                                   fieldId:res.uploadFileId,//1079
                                                                   fileName:'签章文件.pdf',
                                                                   filePath:res.pdf
                                                               }),"*")

                                                               window.parent.postMessage(JSON.stringify({
                                                                   action:'closeDialog'
                                                               }),"*")

                                                           }
                                                       });

                                                   }
                                                }
                                            });
                                        },1500)
                                    }
                                }
                            });
                        }
                    }
                });
            }
        </script>
    </head>

    <body style="width: 100%;height: 100%;">
        <div class="parent-element">
            <iframe  id="iframe" frameborder="0" scrolling="no"></iframe>
        </div>

    </body>

</html>